@using uLearn
@using uLearn.PeerAssasments
@using uLearn.Web.Models.PeerAssasmentModels
@model PeerAssasmentModel
@{
    var submitModel = new PeerAssasmentSubmitModel
    {
        InitialValue = Model.UserReview.Review,
        SubmitUrl = @Url.Action("SubmitReview", "PeerAssasment", new { courseId = Model.CourseId, peerAssasmentId = Model.PA.Id, answerId = Model.UserReview.OtherUserPropositionId })
    };
}
<p>Чужой тезис</p>
@Html.Raw(Model.UserReview.OtherUserProposition.RenderMd())
<p>Review</p>
@if (Model.StepType <= PeerAssasmentStepType.Review)
{
    @Html.Partial("PeerAssasmentSubmitView", submitModel)
}
else
{
    @Html.Raw(Model.UserReview.Review.RenderMd())
}