@using uLearn
@using uLearn.PeerAssasments
@model uLearn.Web.Models.PeerAssasmentModels.PeerAssasmentModel

<p>Чужой тезис</p>

@Html.Raw(Model.UserReview.OtherUserProposition.RenderMd())

<p>Review</p>

@if (Model.StepType <= PeerAssasmentStepType.Review)
{
    <textarea class='markdown-input'>@Model.UserReview.Review</textarea>
    <div class="control-buttons">
        <button type="button" class="submit-peerAssasement-button btn btn-primary no-rounds"
                data-url="@Url.Action("SubmitReview", "PeerAssasment", new { courseId = Model.CourseId, peerAssasmentId = Model.PA.Id, answerId = Model.UserReview.OtherUserPropositionId })">
            SUBMIT
        </button>
    </div>
}
else
{
    @Html.Raw(Model.UserReview.Review.RenderMd())
}